<header tuiHeader="h5">
  <h2 tuiTitle>
    Import custom championships
    <span tuiSubtitle>
      Upload {{ REQUIRED_FILES.length }} CSV files to replace all existing data:
      @for (requiredFile of REQUIRED_FILES; track requiredFile; let isLast = $last) {
        <strong>{{ requiredFile }}</strong
        >{{ isLast ? '.' : ', ' }}
      }
    </span>
  </h2>
</header>

<label tuiInputFiles class="file-input">
  <input
    tuiInputFiles
    [multiple]="true"
    accept=".csv"
    [formControl]="filesControl"
    (reject)="onReject($event)"
  />
</label>

<tui-files class="file-list">
  @for (file of acceptedFiles$ | async; track file) {
    <tui-file [file]="file" state="normal" (remove)="removeFile(file)" />
  }
  @for (file of rejectedFiles(); track file) {
    <tui-file
      [file]="file | rejectedFile"
      state="error"
      [showDelete]="'always'"
      (remove)="removeFile(file)"
    />
  }
</tui-files>

<tui-error [formControl]="filesControl" [order]="['filesCount', 'fileNames', 'structure']" />

<button
  tuiButton
  appearance="primary"
  iconStart="@tui.folder-up"
  type="button"
  [disabled]="filesControl.invalid"
  [loading]="importing()"
  (click)="importFiles()"
>
  Import custom
</button>
