fieldset.grid2-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

fieldset.with-separator {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  > :not(.separator) {
    flex: 1;
  }
}

fieldset.vertical {
  gap: 0;

  [tuiCell]:hover {
    background: none;
  }

  [tuiTitle] {
    flex-direction: row;
    gap: 0.5rem;
  }
}

.point-btn {
  align-self: flex-end;

  &.minus {
    color: var(--tui-text-negative);
    max-width: 3rem;

    &:hover {
      color: var(--tui-text-negative-hover) !important;
    }
  }
}

.option-icon {
  font-size: 0.9rem;
}
