<a
  [routerLink]="['/import']"
  appearance="outline"
  iconStart="@tui.chevron-left"
  size="xs"
  tuiButton
  class="back-btn"
>
  Back
</a>

<header tuiHeader="h3">
  <h1 tuiTitle>Choose what to import</h1>
</header>

<main class="wizard-layout">
  <tui-stepper [(activeItemIndex)]="activeStepIndex" class="wizard-stepper">
    @for (step of steps; track step.id) {
      @if (step.separator) {
        <div class="step-separator"></div>
      } @else {
        <button tuiStep [icon]="step.icon!" [appearance]="'none'">
          {{ step.label }}
          <tui-icon [tuiTooltip]="step.tooltip" />
        </button>
      }
    }
  </tui-stepper>

  <section class="step-content">
    <app-championships-table
      [class.hidden]="activeStepIndex() !== 0"
      mode="import"
      [championships]="importStore.championships()"
      [conflictingChampionships]="importStore.conflictingChampionships.value()"
      (selectedIds)="selectChampionshipIds($event)"
    />

    <app-teams-table
      [class.hidden]="activeStepIndex() !== 1"
      [teams]="importStore.teams()"
      [conflictingTeams]="importStore.conflictingTeams.value()"
      [preSelectedTeamNames]="importStore.preSelectedTeamNames()"
      (selectedIds)="selectTeamIds($event)"
    />

    <app-drivers-table
      [class.hidden]="activeStepIndex() !== 2"
      mode="import"
      [drivers]="importStore.drivers()"
      (selectedIds)="selectDriverIds($event)"
    />
  </section>

  <footer class="wizard-actions">
    <button
      tuiButton
      type="button"
      appearance="secondary"
      (click)="goToPreviousStep()"
      [disabled]="activeStepIndex() === 0"
    >
      Previous
    </button>

    @if (activeStepIndex() < stepsCount - 1) {
      <button tuiButton type="button" appearance="primary" (click)="goToNextStep()">Next</button>
    } @else {
      <button tuiButton type="button" appearance="primary" (click)="showConfirmAndImport()">
        Import
      </button>
    }
  </footer>
</main>
