table {
  width: 100%;
}

.included-icon {
  color: var(--tui-status-negative);

  &.included {
    color: var(--tui-status-positive);
  }
}

.filters-row th {
  padding: 0;

  input {
    font-style: italic;
  }

  .switch-cell {
    border-radius: 0;
    justify-content: center;
    height: 100%;
  }
}

.has-conflict td {
  background-color: var(--tui-status-warning-pale);
}

.conflict-row td {
  background-color: var(--tui-status-negative-pale);
  vertical-align: middle;
}

.checkbox-cell {
  cursor: pointer;
}
