<div tuiCardLarge="compact" appearance="floating" class="car-card">
  <header tuiHeader="body-m">
    <h2 tuiTitle>
      {{ car().livery }}
    </h2>
  </header>
  @if (shouldShowModel()) {
    <section>{{ car().model }}</section>
  }
  @if (editable()) {
    <div class="btn-overlay">
      <div tuiGroup class="btn-group">
        <button
          (click)="edit.emit()"
          tuiButton
          iconStart="@tui.pencil"
          type="button"
          appearance="info"
          size="m"
        >
          Edit
        </button>
        <button
          (click)="delete.emit()"
          tuiButton
          iconStart="@tui.trash-2"
          type="button"
          appearance="negative"
          size="m"
        >
          Delete
        </button>
      </div>
    </div>
  }
  <footer>
    @if (car().team_name) {
      <span
        appearance="custom"
        tuiChip
        [style.background-color]="car().team_name ?? '' | tuiAutoColor"
        iconStart="@tui.user"
      >
        {{ car().team_name }}
      </span>
    }
  </footer>
</div>
