/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}

body {
  height: 100%;
}

.back-btn {
  margin-bottom: 1rem;
}

.form-field {
  display: flex;
  gap: inherit;
  flex-direction: column;
}

tui-dropdown {
  max-height: 600px !important;
}
