:host {
  --tui-chart-categorical-00: #526ed3;
  --tui-chart-categorical-01: #feac5e;
  --tui-chart-categorical-02: #ff5f6d;
}

.info {
  width: fit-content;
  margin-bottom: 1rem;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  gap: 1rem;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: 1280px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.chart-card {
  header {
    [tuiTitle] {
      text-align: center;
    }

    [tuiAccessories] {
      position: absolute;
      right: 0;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .legend {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
  }
}
