<section class="info">
  <div tuiCardMedium appearance="floating">
    <div appearance="secondary" tuiAvatar="@tui.user"></div>
    <h2 tuiTitle>
      Principal
      <span tuiSubtitle>{{ teamWithStats().principal ?? 'Random' }}</span>
    </h2>
  </div>
  <div tuiCardMedium appearance="floating">
    <div appearance="secondary" tuiAvatar="@tui.trophy"></div>
    <h2 tuiTitle>
      Championships
      <span tuiSubtitle>{{ teamWithStats().championshipsCount }}</span>
    </h2>
  </div>
  <div tuiCardMedium appearance="floating">
    <div appearance="secondary" tuiAvatar="@tui.car"></div>
    <h2 tuiTitle>
      Cars
      <span tuiSubtitle>{{ teamWithStats().carsCount }}</span>
    </h2>
  </div>
  <div tuiCardMedium appearance="floating">
    <div appearance="secondary" tuiAvatar="@tui.id-card-lanyard"></div>
    <h2 tuiTitle>
      Drivers
      <span tuiSubtitle>{{ teamWithStats().driversCount }}</span>
    </h2>
  </div>
  <div tuiCardMedium appearance="floating">
    <div appearance="secondary" tuiAvatar="@tui.calendar"></div>
    <h2 tuiTitle>
      Activity
      <span tuiSubtitle>{{ teamWithStats().startYear }} - {{ teamWithStats().endYear }}</span>
    </h2>
  </div>
  <div tuiCardMedium appearance="floating" class="tags-card">
    <div appearance="secondary" tuiAvatar="@tui.tag"></div>
    <div tuiItemGroup>
      @for (tag of teamWithStats().tags; track tag) {
        <span appearance="custom" tuiChip [style.background-color]="tag | tuiAutoColor">
          {{ tag }}
        </span>
      }
    </div>
  </div>
</section>

<section class="cards">
  <app-percent-chart-card
    title="Driver loyalty"
    [value]="team().driver_loyalty"
    [tooltip]="loyaltyTooltip"
  />
  <app-percent-chart-card
    title="Expectation level"
    [value]="team().expectation_level"
    [tooltip]="expectationLevelTooltip"
  />
  <app-percent-chart-card
    title="Performance rating"
    [value]="team().performance_rating"
    [tooltip]="performanceRatingTooltip"
  />

  <div tuiCardLarge appearance="floating" class="chart-card">
    <header tuiHeader>
      <h2 tuiTitle>Engineering balance</h2>
      <aside tuiAccessories>
        <tui-icon [tuiTooltip]="engineeringTooltip" />
      </aside>
    </header>
    <section>
      <tui-ring-chart [value]="engineeringValues()" [(activeItemIndex)]="activeEngineeringIndex" />
      <div class="legend">
        @for (label of engineeringLabels(); track label) {
          <tui-legend-item
            size="s"
            class="item"
            [active]="activeEngineeringIndex() === $index"
            [color]="`var(--tui-chart-categorical-${$index.toString().padStart(2, '0')})`"
            [text]="label"
            (tuiHoveredChange)="onEngineeringHover($index, $event)"
          >
            <span>{{ (engineeringRawValues()[$index] | percent) ?? 'Not set' }}</span>
          </tui-legend-item>
        }
      </div>
    </section>
  </div>
</section>
